<header class="header">
  <h1 class="title">WebKarma</h1>
  <div class="button logout" *ngIf="isLoggedIn()">
      <button (click)="logout()">Déconnexion</button>
  </div>
</header>
<main class="main">
  <div class="container">
    <div class="content" *ngIf="!isLoggedIn()">
      <p class="description">WebKarma est une application web qui comptabilise l'impact énergétique de votre navigation internet.
        A chaque clique ou recherche le coût ("général") de cet acte est ajouté et comptabilisé dans votre WebKarma,
        vous pouvez suivre au jour le jour votre "Web karma" sur ce site.</p>
      <div class="login">
        <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
        <button (click)="login()">Se connecter</button>
      </div>
    </div>
    <div class="content" *ngIf="isLoggedIn()">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

