<header class="header">
  <h1>WebKarma</h1>
  <div class="button logout" *ngIf="isLoggedIn()">
      <button (click)="logout()">Déconnexion</button>
  </div>
</header>
<main class="main">
  <div class="container">
    <div class="content" *ngIf="!isLoggedIn()">
      <p>Description de WebKarma</p>
      <div class="login">
        <button (click)="login()">Connexion</button>
      </div>
      <p>Connexion Google</p>
    </div>
    <div class="content" *ngIf="isLoggedIn()">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
<footer class="footer">
  <p>Mentions légales / Conditions d'utilisation</p>
  <p>© WebKarma</p>
</footer>
