// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// CSS reset
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}
// general
html, body {
    height: 100%;
    width: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #67BF6B;
    transition: .2s ease-in-out;
}
a:hover {
    color: #101010;
}
// body content
.body_content {
    width: 75rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
// header
header {
    display: flex;
    justify-content: center;
}
.title {
    color: #67BF6B;
    font-size: 7vw;
    font-weight: 600;
}
// main
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description {
    font-style: italic;
    text-align: center;
    padding-bottom: 1.5rem;
    max-width: 80vw;
}
// bouton
.login {
    display: flex;
    width: fit-content;
    padding: 1rem;
}
button {
    background: #67BF6B;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    padding: 0 2rem;
    transition: .3s ease-in-out;
    font-weight: bold;
}
button:hover {
    background: #101010;
    color: white;
}
.login img {
    height: 2.5rem;
    padding-right: .5rem;
    
}
// footer
footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// media query
@media screen and (max-width: 870px) {
    .body_content {
        width: 54rem;
    }
}